		<div class="panel panel-default">
			<div class="row" style="background:#FFFFFF;">
				<div class="col-lg-8">
					<image class="circular" src="/static/image/logo_footer_small.jpg"></br>
					<p class="text-muted">author WANG LEI/YI (lwang019@e.ntu.edu.sg)
						&copy; 2015-2016 <strong><abbr title="PayPal Hackthon" class="initialism">PayPal Hackthon, </abbr> </strong> — www.yiak.co @ SG
					</p>
				</div>
				<div class="col-lg-4">
					<div>
					<div class="row">
						<p><small><em>Follow us via NTU offical Accounts!</em></small></p>
					</div>
					
					<div class="row">
					<ul class="list-inline">
						<li><a href="#"><image class="circular" src="#"></a>url 1</li>
						<li><a href="#"><image class="circular" src="#"></a>url 2</li>
						<li><a href="#"><image class="circular" src="#"></a>url 3</li>
						<li><a href="#"><image class="circular" src="#"></a>url 4</li>
					</ul>
					</div>
					</div>
				</div>	
			</div>
		</div>